.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 8px;
    background: white;
}
.addproduct-itemfield{
    width: 100%;
    color: #ff8fa3;
    font-size: 16px;
    font-weight: 500;
}
.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding-left: 15px;
    border: 1px solid #ff8fa3;
    outline: none;
    color: #000000;
    font-family: 'Poppins';
    font-size: 14px ;
}
.addproduct-price{
    display: flex;
    gap: 40px;
}
.add-product-selector{
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-family: "Poppins";
    border: 1px solid #ff8fa3;
    border-radius: 8px;
}
.addproduct-thumbnail-img{
    height: 200px;
    border-radius: 8px;
    object-fit: contain;
    margin: 20px 0px;
    cursor: pointer;
    border: 1px solid #ff8fa3;
    background-color: #ffd1da;
}
.addproduct-btn {
    width: 160px;
    height: 50px;
    border-radius: 8px;
    background: #fe4d6f;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    transition: background 0.2s;
}

.addproduct-btn:hover {
    background: #f93a5c;
}

@media (max-width:992px) {
    .add-product{
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}