.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    height: 60px;
}
.nav-profile{
    height: 40px;
}
@media(max-width:992px){
    .navbar{
        padding: 10px 30px;
    }
    .nav-logo{
        height: 50px;
    }
    .nav-profile{
        height: 30px;
    }
}